.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}
.menubtn {
  background-color: white;
  border: var(--p-solid-boder);
  cursor: pointer;
  border-radius: 5px;
  display: none;
  margin: 10px;
  padding: 10px 12px;
  cursor: pointer;
  width: 80px;
}
.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 10px;
  gap: 10px;
  justify-content: space-between;
  background-color: white;
  border-bottom: var(--p-solid-boder);
  position: sticky;
  top: 0;
}
.header .search {
  display: flex;
  align-items: center;
  gap: 5px;
  border: var(--p-solid-boder);
  border-radius: 8px;
  padding: 10px;
  background-color: transparent;
  transition: all 0.3s ease;
}
.header .search:hover {
  border: 1px solid var(--primary);
}
.header .search button {
  color: rgb(148, 148, 148);
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 16px;
}
.header .search input {
  outline: none;
  border: none;
  padding: 5px 5px;
  background-color: transparent;
  font-size: 15px;
}
.header .action {
  display: flex;
  gap: 5px;
}
.header .action button {
  color: rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 10px;
  border: var(--p-solid-boder);
  background-color: transparent;
  font-size: 15px;
  padding: 8px 15px;
  transition: all 0.3s ease;
}
.header .action .active {
  background-color: rgb(214, 214, 214);
}
.header .action button:hover {
  border: 1px solid var(--primary);
  color: var(--primary);
}
.content {
  width: 100%;
  padding: 20px;
}
.content .title {
  display: flex;
  align-items: center;
  padding: 20px 0;
  gap: 10px;
}

.content .title img {
  width: 35px;
  height: 35px;
}
.content .title .name {
  font-size: 24px;
  font-weight: 500;
}
.content .title .count {
  font-size: 16px;
  font-weight: 600;
  color: rgb(93, 93, 93);
}
.content .container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 6px;
}

@media (max-width: 1024px) {
  .header {
    flex-direction: column;
  }
}
@media (max-width: 1024px) {
  .menubtn {
    display: block;
  }
}

/* ===== DESKTOP ===== */
@media (min-width: 1025px) {
 
  .menubtn {
    display: none;
  }
}
