.item {
  width: 100%;
  display: flex;
  border: var(--p-solid-boder);
  border-radius: 8px;
  cursor: pointer;
  flex-direction: column;
  transition: all 0.3s ease;
}
.item .headerItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  height: 64px;
  background-color: white;
  border-radius: 8px 8px 0px 0px;

  border-bottom: var(--p-solid-boder);
  /* box-shadow: 1px 2px 2px -1px rgb(75, 75, 75); */
}
.item .headerItem .left {
  display: flex;
  align-items: center;
  gap: 30px;
}
.headerItem .left .codeItem {
  border-radius: 8px;
  border: var(--p-solid-boder);
  padding: 5px 8px;
  color: rgb(148, 148, 148);
  font-size: 14px;
  font-weight: 600;
}
.headerItem .left .titleItem {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 500;
}
.headerItem .type {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: rgb(0, 107, 222);
  padding: 3px 5px;
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: 600;
  width: 90px;
}
.headerItem .basic {
  background-color: #35a4ff;
}
.headerItem .intermediate {
  background-color: #ffc82f;
}
.headerItem .advanced {
  background-color: rgb(255, 49, 49);
}
.contentWrapper {
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.4s ease-in-out,
    opacity 0.3s ease;
  opacity: 0;
}
.open {
  max-height: 1000px;
  opacity: 1;
}
.contentItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 20px;
  background-color: rgb(238, 238, 238);
}
.contentItem .header_contentItem {
  font-size: 15px;
  color: black;
  font-weight: 500;
}
.contentItem ul {
  padding: 10px;
}
.contentItem ul li {
  color: rgb(82, 82, 82);
  margin: 10px 0;
}
.contentItem .example {
  background-color: #dbeafe;
  padding: 10px;
  border-left: 3px solid #2196f3;
}
code {
  background-color: #2196f314;
  color: #0b5ed7;
  padding: 2px 4px;
  border-radius: 4px;
  font-family: monospace;
}
@media (max-width: 1024px) {
  .headerItem .type {
    width: auto;
  }
}
